* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #313131;
  --main-second-color: #514040;
  --main-font-size: 18px;
  --main-font-weight: 400;
  --title-font-size: 55px;
  --accent-color: #49ad09;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: var(--main-font-size);
  color: var(--main-color);
  line-height: 1.5;
  font-weight: var(--main-font-weight);
  background-color: #fff;
  text-align: center;
  overflow-x: hidden;
}

a {
  color: inherit;
}

.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-size: var(--title-font-size);
  color: var(--main-color);
  margin-bottom: 80px;
}

.subtitle {
  display: block;
  color: var(--main-second-color);
  margin-bottom: 30px;
}

.visibility-hidden {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
}

.btn {
  background-color: var(--accent-color);
  color: #fff;
  padding: 18px 60px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5px;
  border: 1px solid transparent;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1),
    0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259),
    0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407),
    0px 20px 13px rgba(49, 49, 49, 0.05),
    0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593),
    0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
  cursor: pointer;
}


/* header */
.header {
  background-color: #f2f2f2;
  padding: 30px 0;
}

.header__inner {
  display: flex;
  align-items: center;
}

.menu {
  margin-left: auto;
  margin-right: 50px;
}

.menu__list {
  display: flex;
}

.menu__item,
.clients__item {
  list-style: none;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.menu__link:hover,
.login:hover,
.about__video:hover,
.article__link:hover {
  color: var(--accent-color);
}

.login {
  border: none;
  background-color: transparent;
  color: var(--main-color);
}

.login,
.register {
  padding: 18px 45px;
  transition: all 0.5s ease-in-out;
}

.register:hover,
.about__contact:hover,
.specialization__link:hover,
.portfolio__link:hover,
.portfolio__btn:hover
.example__link:hover,
.contacts__btn:hover {
  opacity: 0.8;
}

/* about */
.about {
  background-color: #f2f2f2;
  height: 100vh;
  padding-top: 175px;
}

.about__inner {
  position: relative;
}

.about__bgd {
  position: absolute;
}

.about__bgd--1 {
  left: 45px;
  top: 50%;
  transform: translateY(-50%);
}

.about__bgd--2 {
  left: 10px;
  top: -30px;
}

.about__bgd--3 {
  left: 185px;
  top: 150px;
}

.about__bgd--4 {
  left: 10px;
  bottom: -50px;
}

.about__bgd--5 {
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.about__bgd--6 {
  right: 10px;
  top: -30px;
}

.about__bgd--7 {
  right: 185px;
  top: 150px;
}

.about__bgd--8 {
  right: 10px;
  bottom: -50px;
}

.about__content {
  max-width: 490px;
  margin: 0 auto;
  text-align: center;
}

.about__title {
  font-family: "Inter", sans-serif;
  font-size: 78px;
  font-weight: 800;
  color: var(--main-color);
  letter-spacing: -5px;
  margin-bottom: 35px;
}

.about__title span {
  color: var(--accent-color);
}

.about__text {
  color: var(--main-second-color);
  margin-bottom: 65px;
}

.about__contact {
  margin-right: 40px;
}

.about__video {
  background-color: transparent;
  border: none;
  color: var(--main-second-color);
  text-decoration: underline;
  padding-right: 15px;
  position: relative;
  cursor: pointer;
}

.about__video::after {
  content: url(../images/icons/play.svg);
  position: absolute;
  right: 0;
  top: 0;
}

.video {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.video.active,
.registrarion.active,
.login__form.active,
.form.active {
  visibility: visible;
  opacity: 1;
}

.video video {
  position: relative;
  max-width: 900px;
  outline: none;
}

.close{
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

/* specialization */
.specialization {
  padding-bottom: 70px;
}

.clients__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 0;
  margin-bottom: 140px;
}

.articles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 810px;
  margin: 0 auto 80px;
}

.article {
  border: 1px solid #ededed;
  border-radius: 5px;
  padding: 30px 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  transition: all 0.5s ease;
}

.article:hover {
  border: 1px solid transparent;
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
}

.article__title {
  font-size: 22px;
  padding-left: 45px;
  margin-bottom: 30px;
  position: relative;
}

.article__title::before {
  position: absolute;
  left: 0;
  top: 0;
}

.article__title--1::before {
  content: url(../images/icons/webflow.svg);
}

.article__title--2::before {
  content: url(../images/icons/shopify.svg);
}

.article__title--3::before {
  content: url(../images/icons/figma.svg);
}

.article__title--4::before {
  content: url(../images/icons/php.svg);
}

.article__text {
  color: var(--main-second-color);
  margin-bottom: 30px;
}

.article__link {
  display: block;
  font-size: 16px;
  text-align: left;
}

/* portfolio */
.portfolio,
.costumers,
.pricing,
.contacts,
.summary {
  padding: 70px 0;
}

.examples {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: -50px;
  margin-bottom: 10px;
}

.example {
  margin-right: 50px;
  max-width: 480px;
  margin-bottom: 70px;
}

.example.hidden {
  display: none;
}

.example:nth-of-type(even) {
  margin-top: 55px;
}
.example__img {
  width: 100%;
  height: 360px;
  margin-bottom: 25px;
}

.example__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.example__title {
  font-size: 28px;
  color: #000;
}

.example__link {
  color: var(--accent-color);
  text-decoration: none;
}

/* reviews */
.reviews {
  padding: 80px 0;
  margin-bottom: 60px;
  position: relative;
  overflow: hidden;
}

.reviews::before {
  content: "";
  position: absolute;
  width: 890px;
  height: 540px;
  background-color: #f2f2f2;
  left: 15%;
  top: 40%;
  transform: translate(-5%, -40%);
  z-index: -1;
}

.reviews__slider {
  display: flex;
  justify-content: space-between;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  padding-top: 60px;
  margin-bottom: 50px;
  margin-right: -15px;
}

.review {
  min-width: 380px;
  padding: 40px 30px;
  background-color: #fff;
  text-align: left;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #32435c;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 15px;
}

.review__title,
.review__text,
.review__stars {
  margin-bottom: 20px;
}

.review__text {
  font-size: 16px;
  color: #6a635b;
}

.reviews__btns {
  border-radius: 70px;
  background-color: #fff;
  max-width: 120px;
  margin: 0 auto;
}

.reviews__btn {
  height: 50px;
  width: 50px;
  border-radius: 70px;
  border: none;
  background-color: transparent;
}

.reviews__btn svg {
  fill: #313131;
}

.rewiews__next svg {
  transform: rotate(180deg);
}

.reviews__btn:hover {
  background-color: #313131;
}

.reviews__btn:hover svg {
  fill: #fff;
}

/* pricing */
.pricing__cards {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 50px;
  border: 1px solid #EDEDED;
filter: drop-shadow(0px 20px 40px rgba(191, 191, 191, 0.16));
border-radius: 5px;
max-width: 360px;
transition: box-shadow .5s ease;
}

.card__title,
.card__price {
  display: block;
}

.card__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.card__price {
  font-size: 60px;
  margin-bottom: 25px;
  
}

.card__list {
  margin-bottom: 50px;
}

.card__item {
  font-size: 16px;
  color: var(--main-second-color);
  text-align: left;
  list-style: none;
  padding-left: 30px;
  position: relative;
}

.card__item::before {
  content: url(../images/icons/pricing_left.svg);
  position: absolute;
  left: 0;
  top: 0;
}

.card__item:not(:last-child){
  margin-bottom: 15px;
}

.card:hover {
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1);
}

.card__btn {
  margin-top: auto;
  background-color: #fff;
  box-shadow: none;
  border: 1px solid #514040;
  color: var(--main-second-color);
  transition: background-color .5s ease;
}

.card:hover .card__btn {
  background-color: var(--accent-color);
  box-shadow: 0px 100px 80px rgba(49, 49, 49, 0.1), 0px 64.8148px 46.8519px rgba(49, 49, 49, 0.0759259), 0px 38.5185px 25.4815px rgba(49, 49, 49, 0.0607407), 0px 20px 13px rgba(49, 49, 49, 0.05), 0px 8.14815px 6.51852px rgba(49, 49, 49, 0.0392593), 0px 1.85185px 3.14815px rgba(49, 49, 49, 0.0240741);
}


.contacts__inner {
  position: relative;
}



.form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  left:0;
  top: 50%; 
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, .9);
  opacity: 0;
  transition: opacity .5s ease;
  visibility: hidden;
}



.form__input {
  width: 300px;
  height: 60px;
  padding: 5px 10px;
  background-color: #fff;
  color: var(--main-color);
  border: 1px solid var(--accent-color);
  border-radius: 5px;
}

/* summary */

.summary__inner {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.summary__logo {
  display: block;
  margin-bottom: 35px;
}

.summary__text {
  max-width: 235px;
  font-size: 16px;
  margin-bottom: 65px;
}

.social {
  display: flex;
}

.social__item {
  list-style: none;
}

.social__item:not(:last-child){
  margin-right: 15px;
}

.social__link {
  text-decoration: none;
  text-align: center;
  display: block;
  height: 28px;
  width: 28px;
  background-color: #F2F2F2;
  border-radius: 5px;
  transition: background-color .5s ease;
}

.social__link svg {
  fill: var(--main-color);
}

.social__link:hover {
  background-color: var(--accent-color);
}

.social__link:hover svg {
  fill: #fff;
}

.summary__item {
  list-style: none;
  transition: color .5s ease-in-out;
}

.summary__item:not(:last-child) {
  margin-bottom: 30px;
}

.summary__item:first-child{
  font-size: 20px;
  color: #1C1C1D;
  margin-bottom: 40px;
}

.summary__item:not(:first-child):hover {
  color: var(--accent-color);
}

.summary__link {
  display: block;
  text-decoration: none;
  font-size: 16px;
}

.summary__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.summary__label {
  font-size: 20px;
  color: #1C1C1D;
  margin-bottom: 40px;
}

.summary__input {
  padding: 13px;
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 175px;
  border: none;
  font-size: 12px;
}

.summary__input:focus {
  outline: var(--accent-color);
}

.summary__input::placeholder{
  font-size: 12px;
  color: var(--main-second-color);
}

.summary__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 83px;
}

.summary__btn svg{
  fill: var(--main-second-color)
}

.summary__btn:hover {
  background-color: var(--accent-color);
}

.summary__btn:hover svg{
  fill: #fff;
}

/* footer */
.footer__text {
  padding: 40px 0;
  border-top: 1px solid #EDEDED;
  font-size: 16px;
}

/* animation */
.animation {
  transform: scale(0);
  transition: transform .5s ease-in-out;
}

.animation.scale {
  transform: scale(1);
}

/* registration form */

.registrarion,
.login__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100wh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  padding: 50px;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.registration__label,
.login__label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  color: #fff;
}

.registration__label input,
.login__label input {
  display: block;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: var(--accent-color);
}

.registration__label input::placeholder,
.login__label input::placeholder {
  font-size: 12px;
  color: var(--main-second-color);
}

.registration__label:last-of-type,
.login__label:last-of-type {
  margin-bottom: 20px;
}

.registration__btn,
.login__btn {
  align-self: center;
  margin-top: 20px;
}
